{% extends 'layouts/main.html' %}

{% block main %}
<header class="w-50 mx-auto mb-1 bg-body-tertiary text-center text-primary rounded">
    <h1 class="p-2"><u>{{ title }}</u></h1>
</header>

<section>
    <div class="card">
        <div class="card-body">

            <p>id: {{ event.id }}</p>
            <p>job_id: {{ event.job_id }}</p>
            <p>active: {{ event.active ? 'true' : 'false' }}</p>
            <p>schedule: {{ event.schedule }}</p>
            <p>status: {{ event.status }}</p>
            <p>script: {{ event.script }}</p>

            <hr class="m-0 mb-2 border-2 border-primary">
        </div>

        <button class="btn btn-primary" onclick="history.back()">Back</button>
    </div>
</section>
{% endblock %}
