{# ['title' => 'Details', 'p_keys' => $p_keys, 'user' => $user, 'error' => $error] #}
{% extends 'layouts/main.html' %}

{% block body %}
<header class="w-50 mx-auto mb-1 bg-body-tertiary text-center text-primary rounded">
    <h1 class="p-2"><u>Participant</u></h1>
</header>

<section>
     <div class="card">
        <div class="card-body">

            <p>id: {{ user.id }}</p>
            <p>username: {{ user.username }}</p>
            <p>active: {{ user.active ? 'true' : 'false' }}</p>
            <p>web_token: {{ user.webtoken ? 'true' : 'false' }}</p>

            <hr class="m-0 mb-2 border-2 border-primary">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button
                        class="nav-link active"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#papers-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="home-tab-pane"
                        aria-selected="true">
                        Papers
                    </button>
                </li>

                <li class="nav-item">
                    <button
                        class="nav-link"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#scores-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="home-tab-pane"
                        aria-selected="true">
                        Scores
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <section
                    class="tab-pane fade show active"
                    id="papers-tab-pane"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                    tabindex="0">
                    {% include 'pages/admin/partials/parti.papers.html' %}
                </section>

                <section
                    class="tab-pane fade"
                    id="scores-tab-pane"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                    tabindex="0">
                    {% include 'pages/admin/partials/parti.scores.html' %}
                </section>
            </div>

        </div>

        <button class="btn btn-primary" onclick="history.back()">Back</button>
    </div>
</section>

{% endblock %}
