{% extends 'layouts/main.html' %}

{% block body %}
<header class="w-50 mx-auto mb-1 bg-body-tertiary text-center text-primary rounded">
    <h1 class="p-2"><u>Participant</u></h1>
</header>

<section>
     <div class="card">
        <div class="card-body">

            <p>id: {{ user.id }}</p>
            <p>username: <span class="lead">{{ user.username }}</span></p>

            <span>Webtoken:</span>
            {% if user.webtoken is defined %}
            <i class="bi bi-bell text-success lead"></i>
            {% else %}
            <i class="bi bi-bell-slash text-warning lead"></i>
            {% endif %}

            <form class="mb-2" method="POST" action="/admin/parti/{{ user.id | url_encode }}">
                <div class="mb-3 text-start">
                    <label for="state" class="form-label">State:</label>
                    <select name="state" class="form-select" aria-label="Multiple select example" required>
                        <option value="active" {{ user.state == 'active' ? 'selected' : '' }}>Active</option>
                        <option value="exited" {{ user.state == 'exited' ? 'selected' : '' }}>Exited</option>
                        <option value="standby" {{ user.state == 'standby' ? 'selected' : '' }}>Standby</option>
                        <option value="completed" {{ user.state == 'completed' ? 'selected' : '' }}>Completed</option>
                    </select>
                </div>

                <input type="hidden" name="id" value="{{ user.id | url_encode }}" required>
                <input type="hidden" name="role" value="{{ user.role }}" required>
                <input type="hidden" name="project" value="{{ user.project }}">
                <input type="hidden" name="username" value="{{ user.username }}" required>

                <div class="d-flex">
                    <button type="submit" class="btn btn-sm btn-primary ms-auto">Update</button>
                </div>
            </form>

            <hr class="m-0 mb-2 border-2 border-primary">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button
                        class="nav-link active"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#papers-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="home-tab-pane"
                        aria-selected="true">
                        Papers
                    </button>
                </li>

                <li class="nav-item">
                    <button
                        class="nav-link"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#scores-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="home-tab-pane"
                        aria-selected="true">
                        Scores
                    </button>
                </li>
            </ul>

            <div class="tab-content border border-top-0" id="myTabContent">
                <section
                    class="tab-pane fade show active"
                    id="papers-tab-pane"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                    tabindex="0">
                    {% include 'pages/admin/partials/parti.papers.html' %}
                </section>

                <section
                    class="tab-pane fade"
                    id="scores-tab-pane"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                    tabindex="0">
                    {% include 'pages/admin/partials/parti.scores.html' %}
                </section>
            </div>

        </div>

        <button class="btn btn-primary" onclick="history.back()">Back</button>
    </div>
</section>

{% endblock %}
