{% extends 'layouts/main.html' %}

{% block body %}
<header class="w-50 mx-auto mb-1 bg-body-tertiary text-center text-primary rounded">
    <h1 class="p-2"><u>List of Users</u></h1>
</header>

<section aria-lable="Participants">
     <div class="card">
        <div class="card-body">
            <div>
                <p>Create participant</p>
                <p>Assign participant</p>
            </div>

            <hr class="m-0 mb-2 border-2 border-primary">

            <table class="w-75 mx-auto mb-0 table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="ps-2 fs-5" scope="col">id</th>
                        <th class="fs-5" scope="col">Username</th>
                        <th class="fs-5" scope="col">Active</th>
                        <th class="fs-5" scope="col">Completed</th>
                        <th class="fs-5" scope="col">Edit</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td
                            class="ps-2 overflow-hidden text-truncate border-start"
                            style="max-width: 7rem;">
                            {{ user.id }}
                        </td>
                        <td class="ps-2 text-truncate" style="max-width: 10rem">{{ user.username }}</td>
                        <td class="ps-2">
                            {% if user.active %}
                            <!-- <i class="bi bi-check2"></i> -->
                            <i class="ms-2 text-success bi bi-check-square"></i>
                            {% else %}
                            <!-- <i class="bi bi-x-lg"></i> -->
                            <i class="ms-2 text-danger bi bi-x-square"></i>
                            {% endif %}
                        </td>
                        <td class="ps-2">
                            {% if user.completed %}
                            <!-- <i class="bi bi-check2"></i> -->
                            <i class="ms-2 text-success bi bi-check-square"></i>
                            {% else %}
                            <!-- <i class="bi bi-x-lg"></i> -->
                            <i class="ms-2 text-danger bi bi-x-square"></i>
                            {% endif %}
                        </td>
                        <td class="ps-2 border-end"><a href="/admin/parti/{{user.id|url_encode}}"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    {% include 'partials/pagination.html' %}
                </tfoot>
            </table>

        </div>
    </div>
</section>

{% endblock %}
