<section>
    <h4 class="pt-2 text-center text-primary"><u>Papers</u></h4>

    <table class="w-75 mx-auto table table-sm table-striped">
        <thead>
            <tr>
                <th class="ps-2" scope="col">id</th>
                <th scope="col">Resource</th>
                <th scope="col">Completed</th>
                <th scope="col">Created</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>

        <tbody>
            {% for paper in user.papers %}
            <tr>
                <td
                    class="ps-2 overflow-hidden text-truncate"
                    style="max-width: 7rem;">
                    {{ paper.id }}
                </td>

                <td class="ps-2">
                    <a href="/admin/resources/{{ paper.resource.id | url_encode }}">{{ paper.resource.ref }}</a>
                </td>

                <td class="ps-2">
                    {% if paper.completed %}
                    <!-- <i class="bi bi-check2"></i> -->
                    <i class="ms-2 text-success bi bi-check-square"></i>
                    {% else %}
                    <!-- <i class="bi bi-x-lg"></i> -->
                    <i class="ms-2 text-danger bi bi-x-square"></i>
                    {% endif %}
                </td>

                <td class="ps-2">
                    {{ paper.created | format_datetime(locale='es-ES') }}
                </td>

                <td class="ps-2">
                    <a href="#"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-1">
                            <li class="page-item">
                                <a class="page-link py-1" href="#"><i class="bi bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link py-1" href="#">1</a></li>
                            <li class="page-item"><a class="page-link py-1" href="#">2</a></li>
                            <li class="page-item"><a class="page-link py-1" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link py-1" href="#"><i class="bi bi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>

    </table>
</section>
