<section>
    <h4 class="pt-2 text-center text-primary"><u>Scores</u></h4>

    <table class="w-75 mx-auto mb-0 table table-sm table-striped">
        <thead>
            <tr>
                <th class="ps-2 fs-5" scope="col">id</th>
                <th class="fs-5" scope="col">Step</th>
                <th class="fs-5" scope="col">State</th>
                <th class="fs-5" scope="col">Date</th>
                <th class="fs-5" scope="col">Edit</th>
            </tr>
        </thead>

        <tbody>
            {% for record in user.scores %}
            <tr>
                <td
                    class="ps-2 overflow-hidden text-truncate border-start"
                    style="max-width: 7rem;">
                    {{ record.id }}
                </td>
                <td class="ps-2">{{ record.score.step }}</td>
                <td class="ps-2">{{ record.score.state }}</td>
                <td class="ps-2">{{ record.created | format_datetime(locale='es-ES') }}</td>
                <td class="ps-2 border-end">
                    <a href="#"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            {% include 'partials/pagination.html' %}
        </tfoot>

    </table>
</section>
