<div class="card">

    <div class="card-body">
        <h6 class="card-title mb-0 text-center">Project Authentication</h6>
        <hr class="mt-1 border-2 border-primary">

        <form
            id="join_form"
            class="mb-2"
            method="POST"
            action="/join">
            
            <div class="mb-3 text-start">
                <label for="project" class="form-label">Project:</label>
                <select name="project" class="form-select" aria-label="Multiple select example">
                    {% for center in centers %}
                    <optgroup label="{{ center.name }}">
                        {% for project in center.projects %}
                        <option value="{{ project.id }}" {% if current.project == project.name %} selected {% endif %}>{{ project.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 text-start">
                <label for="pass" class="form-label">Pass:</label>
                <input name="pass" type="password" class="form-control" placeholder="Enter pass">
            </div>

        </form>

    </div>

    <div class="card-footer text-end">
        <button
            type="submit"
            form="join_form"
            class="btn btn-sm btn-primary">
            Join
        </button>
    </div>

</div>
