<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Sections</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <hr class="m-0 mb-2 border-2 border-primary">

  <div class="offcanvas-body">
    <div class="list-group list-group-flush mb-3">

      <button type="button" class="list-group-item list-group-item-action active" aria-current="true" disabled>
        <!-- <i class="fal fa-home-lg-alt me-2"></i> -->
        <i class="bi bi-house me-2"></i>
        Index
      </button>

      <button type="button" class="list-group-item list-group-item-action">
        <i class="bi bi-bricks me-2"></i>
        Projects
      </button>

      <button type="button" class="list-group-item list-group-item-action">
        <!-- <i class="fal fa-bookmark me-2"></i> -->
        <i class="bi bi-bookmark me-2"></i>
        Courses
      </button>

      <button type="button" class="list-group-item list-group-item-action">
        <!-- <i class="far fa-graduation-cap me-2"></i> -->
        <i class="bi bi-backpack me-2"></i>
        Participants
      </button>

      <button type="button" class="list-group-item list-group-item-action" disabled>
        <!-- <i class="fal fa-usd-square me-2"></i> -->
        <i class="bi bi-wallet2 me-2"></i>
        Payments
      </button>

      <button type="button" class="list-group-item list-group-item-action">
        <!-- <i class="fal fa-file-chart-line me-2"></i> -->
        <i class="bi bi-graph-up me-2"></i>
        Reports
      </button>

      <button type="button" class="list-group-item list-group-item-action">
        <!-- <i class="fal fa-sliders-v-square me-2"></i> -->
        <i class="bi bi-sliders2-vertical me-2"></i>
        Settings
      </button>

    </div>

    <hr class="m-0 mb-2 border-2 border-primary">

    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>

    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

  </div>
</div>
