<ul class="navbar-nav pt-2 ms-auto">
  <li class="nav-item ms-auto me-2">
    <a
      class="nav-link {{ 'admin' in uri ? 'active' : '' }}"
      href="/admin">Admin</a>
  </li>

  <li class="nav-item ms-auto me-2">
    <a
      class="nav-link {{ 'messages' in uri ? 'active' : '' }}"
      href="/messages">Messages</a>
  </li>

  <li class="nav-item ms-auto me-2">
    <a
      class="nav-link {{ 'user/settings' in uri ? 'active' : '' }}"
      href="/user/settings">Settings</a>
  </li>

  <li class="nav-item ms-auto me-2">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
