<tr>
    <td class="border-0" colspan="5">
        <nav class="mt-3" aria-label="Page navigation example">
            <ul class="m-0 pagination justify-content-center">
                <li class="page-item"><a class="page-link py-1" href="#"><i class="bi bi-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link py-1" href="#">1</a></li>
                <li class="page-item"><a class="page-link py-1" href="#">2</a></li>
                <li class="page-item"><a class="page-link py-1" href="#">3</a></li>
                <li class="page-item"><a class="page-link py-1" href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
        </nav>
    </td>
</tr>
