<!DOCTYPE html>
<html lang="es" data-bs-theme="ligh"> {# Should be a variable #}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% if editor %}
	<link rel="stylesheet" href="http://esironal.github.io/cmtouch/lib/codemirror.css">
	<link rel="stylesheet" href="http://esironal.github.io/cmtouch/addon/hint/show-hint.css">
	<link rel="stylesheet" href="http://esironal.github.io/cmtouch/theme/neonsyntax.css">

	<script defer src="http://esironal.github.io/cmtouch/lib/codemirror.js"></script>
    <script defer src="http://esironal.github.io/cmtouch/mode/javascript/javascript.js"></script>

	<script defer src="http://esironal.github.io/cmtouch/addon/hint/show-hint.js"></script>
	<script defer src="http://esironal.github.io/cmtouch/addon/hint/javascript-hint.js"></script>
	<script defer src="http://esironal.github.io/cmtouch/addon/selection/active-line.js"></script>
	<script defer src="http://esironal.github.io/cmtouch/addon/edit/matchbrackets.js"></script>
    {% endif %}

    <!-- <script src="/public/assets/js/htmx.min.js"></script> -->
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

    <!-- define extension -->
    <script>
        htmx.defineExtension('my-ext', {
            onEvent: function(name, evt) {
                if (name === "htmx:configRequest") {
                    Object.keys(evt.detail.headers).forEach((key) => {
                        if (key.startsWith('HX-')) {
                            delete evt.detail.headers[key];
                        }
                    });
                }
            },

            transformResponse: function(text, xhr, elt) {
                // console.log("Transforming response: ", text);
                // console.log("Response headers: ", xhr.getAllResponseHeaders());
                // console.log("Response status: ", {xhr});

                text = JSON.parse(text);

                console.log(text);

                return text;
            },
        })
    </script>

  <title>
    {% if title %}
    {{ title }} | LabPsiTec
    {% else %}
    LabPsiTec
    {% endif %}
  </title>
</head>

<body style="padding-top: 5rem">
    <button
        hx-trigger="click"
        hx-get="http://localhost:8000/key/projects"
        hx-headers='{
            "Authorization": "Basic cm9vdDpyb290",
            "Accept": "application/json",
            "NS": "global",
            "DB": "main"
        }'
        hx-ext="my-ext"
        hx-target="#projects"
        hx-swap="none"

        class="btn btn-primary"
        >
        Test
    </button>

    <div id="projects"></div>

  <header>
    {% block navbar %}
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand p-0" href="/">
          <img style="width: 120px;" class="img-fluid" src="/public/assets/images/brands/brand-valencia.jpg" />
        </a>

        <button class="navbar-toggler p-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation" ><span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          {% include 'partials/navigation.html' %}
        </div>

      </div>
    </nav>
    {% endblock %}
  </header>

  <aside>
    {% block sidebar %}
    {% include 'partials/asides/admin.html' %}

    {% if session.project is defined %}
    <div class="bg-body-tertiary position-fixed bottom-0 start-0 m-3 rounded" style="z-index: 999;">
      <a class="btn btn-outline-info shadow"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample">

        <i class="bi bi-caret-right-square fs-3"></i>
      </a>
    </div>
    {% endif %}

    {% endblock %}
  </aside>


  <main class="w-100 mx-auto" style="height: 85svh;">
    <div
        id="main-container"
        class="overflow-auto h-100 container bg-light py-4 bg-opacity-50 rounded">
    {% block main %} {% endblock %}
    </div>
  </main>

  <script src="/public/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    /*!
     * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
     * Copyright 2011-2024 The Bootstrap Authors
     * Licensed under the Creative Commons Attribution 3.0 Unported License.
     */
    (() => {
      'use strict'

      const getStoredTheme = () => localStorage.getItem('theme')
      const setStoredTheme = theme => localStorage.setItem('theme', theme)

      const getPreferredTheme = () => {
        const storedTheme = getStoredTheme()
        if (storedTheme) {
          return storedTheme
        }

        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }

      const setTheme = theme => {
        if (theme === 'auto') {
          document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
        } else {
          document.documentElement.setAttribute('data-bs-theme', theme)
        }
      }

      setTheme(getPreferredTheme())

      const showActiveTheme = (theme, focus = false) => {
        const themeSwitcher = document.querySelector('#bd-theme')

        if (!themeSwitcher) {
          return
        }

        const themeSwitcherText = document.querySelector('#bd-theme-text')
        const activeThemeIcon = document.querySelector('.theme-icon-active use')
        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
        const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')

        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
          element.classList.remove('active')
          element.setAttribute('aria-pressed', 'false')
        })

        btnToActive.classList.add('active')
        btnToActive.setAttribute('aria-pressed', 'true')
        activeThemeIcon.setAttribute('href', svgOfActiveBtn)
        const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
        themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

        if (focus) {
          themeSwitcher.focus()
        }
      }

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        const storedTheme = getStoredTheme()
        if (storedTheme !== 'light' && storedTheme !== 'dark') {
          setTheme(getPreferredTheme())
        }
      })

      window.addEventListener('DOMContentLoaded', () => {
        showActiveTheme(getPreferredTheme())

        document.querySelectorAll('[data-bs-theme-value]')
          .forEach(toggle => {
            toggle.addEventListener('click', () => {
              const theme = toggle.getAttribute('data-bs-theme-value')
              setStoredTheme(theme)
              setTheme(theme)
              showActiveTheme(theme, true)
            })
          })
      })
    })()
  </script>
</body>
</html>
