<!DOCTYPE html>
<html lang="es" data-bs-theme="ligh">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" href="/public/assets/css/style.css">
        <link rel="stylesheet" href="/public/assets/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <title>
            {% if title %}
            {{ title }} | LabPsiTec
            {% else %}
            LabPsiTec
            {% endif %}
        </title>
    </head>

    <body>

        <main class="w-100 mx-auto" style="height: 85svh;">
            {% block main %} {% endblock %}
        </main>

        {% include 'partials/modals/signup.html' %}

        <script defer src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

        <script defer src="/public/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/theme_mode.js"></script>
    </body>
</html>
