<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Sections</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="m-0 mb-2 border-2 border-secondary">

    <div class="offcanvas-body">
        {% if session.project is defined or session.role == 'admin' %}

        <hr class=" mx-auto border-2 border-primary">

        <div class="d-flex">
            <p class="mb-0 fw-bold">Project: <span class="ms-2 text-primary">{{ session.project.name }}</span></p>
        </div>

        <div
            hx-push-url="true"
            class="border-top list-group list-group-flush mb-3">
            <a
                hx-trigger="click"
                hx-get="/admin"
                hx-target="#main-container"

                href="/admin"
                type="button"
                class="list-group-item list-group-item-action {{ '/admin' == uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ '/admin' == uri ? 'true' : '' }}">
                <i class="bi bi-house me-2"></i>
                Dashboard
            </a>

            {% if session.project is defined %}
            <a
                hx-trigger="click"
                hx-get="/admin/parti"
                hx-target="#main-container"

                href="/admin/parti"
                type="button"
                class="list-group-item list-group-item-action {{ 'admin/parti' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'admin/parti' in uri ? 'true' : '' }}">
                <i class="bi bi-backpack me-2"></i>
                Participants
            </a>
            {% endif %}

            <div class="accordion accordion-flush border-bottom" id="aside-accordion">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne"
                            aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            <i class="bi bi-collection me-2"></i>
                            Resources
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body ms-3 py-0">
                            <div class="list-group list-group-flush">
                                <a
                                    hx-trigger="click"
                                    hx-get="/media"
                                    hx-target="#main-container"

                                    href="/media"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-pip me-2"></i>
                                    Media
                                </a>

                                <a
                                    href="#"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-patch-question me-2"></i>
                                    Questions
                                </a>

                                <a
                                    href="#"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-file-earmark-easel me-2"></i>
                                    Slides
                                </a>

                                <a
                                    hx-trigger="click"
                                    hx-get="/resources"
                                    hx-target="#main-container"

                                    href="/resources"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-file-earmark-easel me-2"></i>
                                    Resources
                                </a>

                                <a
                                    hx-trigger="click"
                                    hx-get="/scripts"
                                    hx-target="#main-container"

                                    href="/scripts"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-filetype-js me-2"></i>
                                    Scripts
                                </a>

                                <a
                                    hx-trigger="click"
                                    hx-get="/events"
                                    hx-target="#main-container"

                                    href="/events"
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    aria-current="">
                                    <i class="bi bi-calendar2-event me-2"></i>
                                    Events
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a
                href="#"
                type="button"
                class="list-group-item list-group-item-action {{ 'admin/reports' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'admin/reports' in uri ? 'true' : '' }}">
                <i class="bi bi-graph-up me-2"></i>
                Reports
            </a>

            <a
                href="#"
                type="button"
                class="list-group-item list-group-item-action {{ 'admin/settings' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'admin/settings' in uri ? 'true' : '' }}">
                <i class="bi bi-sliders2-vertical me-2"></i>
                Settings
            </a>
        </div>

        <hr class=" mx-auto border-2 border-primary">

        <div class="d-flex">
            <p class="mb-0 fw-bold">Center: <span class="ms-2 text-primary">{{ session.project.center }}</span></p>
        </div>

        <div class="border-top list-group list-group-flush mb-3">
            <a
                href="/admin/center/projects"
                type="button"
                class="list-group-item list-group-item-action {{ 'center/projects' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'center/projects' in uri ? 'true' : '' }}">
                <i class="bi bi-bricks me-2"></i>
                Projects
            </a>

            <a
                href="#"
                type="button"
                class="list-group-item list-group-item-action {{ 'admin/reports' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'admin/reports' in uri ? 'true' : '' }}">
                <i class="bi bi-journal-arrow-down me-2"></i>
                Library
            </a>

            <a
                href="/admin/center/settings"
                type="button"
                class="list-group-item list-group-item-action {{ 'center/settings' in uri ? 'bg-primary bg-opacity-25' : '' }}"
                aria-current="{{ 'center/settings' in uri ? 'true' : '' }}">
                <i class="bi bi-sliders2-vertical me-2"></i>
                Settings
            </a>
        </div>
        {% endif %}

        <hr class="mx-auto border-2 border-primary">
    </div>
</div>
